<%- include ('partials/navbar.ejs') %>
<%- include ('partials/header.ejs') %>

    <h1> Bem-vindo a Homepage!</h1>
    <hr>
    <p>Iniciando estudos com o Node.js</p>
<!--importando a imagem da pasta "Public"-->
    <img src="/images/Nodejs.png" alt="Node JS>"
<%- include ('partials/footer.ejs') %>